<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <header style = "background: lightgray;">
      <h1>Welcome to the Mars Facts Page</h1> 
      <h6 class = "comp-p">Navigate to '/scrape' to update news and pictures about Mars</h6>  
    </header>

    <div class="container-fluid comp-container">

      <div class="row comp-row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

          <Figure>
              <a target="_self" href= {{ data.mars.src }}>
                  <img src= {{ data.mars.src }} alt = "Mars Featured Image"/>
              </a>
              <figcaption style = "font-weight: bold; font-style: italic;"> 
                <a href = {{ data.mars.src }}>{{ data.mars.title }} </a>
              </figcaption>
          </Figure>
          
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">  
          <container style = "background: lightgray; display: inline-flex;
          width: 100%; text-align: center; margin-bottom: 0px;">
            <img alt="Nasa Logo"
            src="https://mars.nasa.gov/assets/logo_mars_trio_black@2x.png">
          </container>
          <container style = "background: lightgray; display: block;
          width: 100%; margin-top: 0px;">
            <h5><strong>Latest News and Events from mars.nasa.gov</strong></h5>
          </container>

          <container style = "display: flex; justify-content:space-between;
          margin-bottom: 50px;">

            <ul class="list-group list-group-flush" 
            style = "display: inline-block; vertical-align: top;">
              <li style = "list-style: none;
              font-weight: bold; color: black; font-size: 20px; float: left;"
              >Headline</li>
              {% for title in data.nasa.title %}
                
                <li class="list-group-item" 
                style = "list-style: none; font-weight: bold;
                color:rgb(37, 49, 114);
                float: left; width:150px; height: 100px;"
                >{{ title }}</li>
              {% endfor %}

            </ul>

            <ul class="list-group list-group-flush"
            style = "display: inline-block; vertical-align: top;">
              <li style = "list-style: none;font-weight: bold; color: black;
              font-size: 20px;">About</li>
              {% for parag in data.nasa.parag %}
                
                <li class="list-group-item" style = "list-style: none; font-weight: bold; color:rgb(37, 49, 114);
                float: right; width:500px; height: 100px">
                {{ parag }}
                </li>
              {% endfor %}

            </ul>

          </container>

        </div>


      </div>
    </div>
  <div class="container-fluid comp-container" style = "background: lightgray;
        display: block; width: 100%; text-align: center; margin-bottom: 20px;
        margin-top: 20px;">
    <div class="jumbotron text-center">
      <h1>Hemispeheres of Mars</h1>
    </div>
  </div>

  <div class="container-flex comp-container">

    <div class="row" style = "height: 300px; display: flex; margin-left:0px">
      {% for hemi in data.hemi.src %}
      <div class="col-3"
          style = "display: flex; margin:0 px;">
          
          <a target="_self" href= {{ hemi }}>
            <img src = {{ hemi }}
            style = "position: relative; width: 220%; margin-left: 15px;
            margin-right: 15px; display: inline; float:left;" 
            alt = "One of Mars Hemispeheres"/>
          </a>
      </div>
      {% endfor %}
      {% for name in data.hemi.name %}
      <div class="col-3"
          style = "display: flex; margin:0 px; justify-content: center;">
          <h5 style = "position: relative; width: 100%; margin-left: 15px;
          margin-right: 15px; display: inline; float:left;"> {{ name }} </h5>
          
      </div>
      {% endfor %}
        
      
    </div>
  </div>
 
  <div class="container-fluid comp-container" style = "background: lightgray;
        display: block; width: 100%; text-align: center; margin-top: 30px;
        margin-bottom: 10px;">
    <div class="jumbotron text-center">
    <h1>Data about Mars</h1>
    </div>
  </div> 

  <div class="container-fluid">

    <div class="row comp-row">
      <div class = 'col-12' style = 'display: flex; justify-content: space-evenly;'>

          {{ data.mars_facts | safe }}
    
          {{ data.mars_earth_facts | safe }}

      </div>

      </div>
      
        
    </div>
    </div>
  </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js?cdv=40" type="text/javascript"></script>
</body>
</html>